section.sellers {
  background-image: url("https://skolovanje.b-cdn.net/osnove%20veb%20programiranja/2.%20HTML%20layout%2C%20SASS/2.3%20Sass/road_without_car.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
section.sellers h1 {
  margin: 0;
  padding: 0;
}
section.sellers div.locations {
  display: flex;
  justify-content: space-evenly;
}
section.sellers div.locations div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dde0e9B2;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
section.sellers div.locations h2 {
  margin: 0px;
}
section.sellers div.locations span {
  color: #b96d34;
}

section.cars {
  display: flex;
}
section.cars form {
  background-color: #dde0e9;
  border-radius: 20px;
  border-width: 5px;
  margin: 20px;
  padding: 20px;
  width: 60%;
  border: 2px solid #3e84b6;
}
section.cars div.dream-car {
  display: flex;
}
section.cars div.dream-car img {
  width: 70%;
}
section.cars div.dream-car div.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  font-size: 30px;
  text-align: center;
}
section.cars div.calculator {
  display: flex;
  flex-wrap: wrap;
}
section.cars div.calculator div {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.cars div.calculator div label {
  margin: 5px;
  width: 100%;
}
section.cars div.calculator div select {
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #3e84b6;
  color: #3e84b6;
  font-weight: bold;
}
section.cars div.calculator div input {
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #3e84b6;
  color: #3e84b6;
  font-weight: bold;
  width: 100%;
}
section.cars div.calculator div.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section.cars div.calculator div.slider div.slider-range {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
}
section.cars div.calculator div.car-color {
  display: flex;
  align-items: center;
}
section.cars div.calculator div.car-color label {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e84b6;
}
section.cars div.calculator div.car-color input {
  width: 16px;
  height: 16px;
}
section.cars div.offers {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
section.cars div.offers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #dde0e9;
  border-radius: 20px;
  border-width: 5px;
  border: 2px solid #3e84b6;
}
section.cars div.offers div img {
  width: 100%;
}
section.cars div.offers div.best-offer {
  width: 80%;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  background-color: #dde0e9;
  list-style: none;
  margin: 0px;
  height: 50px;
}
header nav ul li a {
  text-decoration: none;
  color: #3e84b6;
}
header nav ul li.nav-image img {
  width: 50px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  background-color: #3e84b6;
  margin: 0px;
  height: 50px;
  padding: 0px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a.footer-c {
  margin-left: 30%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3e84b6;
}

/*# sourceMappingURL=styles.css.map */
