@use 'variables' as *;

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    background-color: $primary-color;
    margin: 0px;
    height: 50px;
    padding: 0px;

    @include responsive ($breakpoint-medium) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }

    @include responsive ($breakpoint-small) {
        flex-direction: column;
        height: fit-content;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a {                 
        text-decoration: none;
        color: white;
    }

    a.footer-c {
        margin-left: 30%;

        @include responsive ($breakpoint-medium) {
            margin-left: 0%;
        }

        @include responsive ($breakpoint-small) {
            margin-top: 5%;
        }
    }
}